.inputField {
    display: flex;
    align-items: center;
    justify-content: center; /* Center the input field horizontally */
    width: 90%; /* Use percentage for responsive width */
    max-width: 800px; /* Maintain max width for larger screens */
    margin: 0 auto; /* Center the inputField container */
    position: relative;
}

.inputField > input {
    background-color: #ECE4D9;
    width: 100%;
    height: 3.125em; /* Use em for height */
    border: 0.125em solid black; /* Use em for border */
    border-radius: 1.375em; /* Use em for border-radius */
    outline: none;
    font-family: 'OpenSans Bold';
    font-size: 1em; /* Use em for font-size */
    padding-right: 2.5em; /* Оставляем место для иконки */
}

.searchIcon {
    position: absolute;
    right: 0.9375em; /* Use em for positioning */
    font-size: 1.125em; /* Use em for font-size */
    color: #000;
    cursor: pointer;
}


@media (max-width: 600px) {
    .inputField {
        width: 70%; 
    }

    .inputField > input {
        height: 2.5em; 
        font-size: 0.875em; 
    }

    .searchIcon {
        right: 0.625em; 
        font-size: 1em; 
    }
}
