.background {
    background-color: #2A2928;
    height: 100%;
    padding-bottom: 2em;
}

.CharactersCards {
    padding: 0 !important;
    margin: 0 !important;
    width: 100% !important;
}

@media (max-width: 600px) {
    .CharactersCards {
        flex-direction: column;
        gap: 0.5em; /* уменьшено для мобильных устройств */
        padding-top: 0.5em; /* уменьшено для мобильных устройств */
    }
}